
@{
    ViewBag.Title = "快递接口";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body class="skin-blue">
    
    <div class="box">
        <form action="/DepInterface/GetModelList" class="text-right" method="post">
            <div class="box-header">
                <div class="box-tools">
                    <div class="input-group" style="float: right">
                        <label>单据名称：<input  type="text"/></label>
                        <label>单据类别：<input type="text" /></label>
                        <label>功能：<input  type=="text"/></label>
                        <button type="submit" class="btn btn-primary">搜索</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- /.box-header -->
        <div class="box-body table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>单据名称</th>
                        <th>类型</th>
                        <th>方式</th>
                        <th>Dll名称</th>
                        <th>函数名称</th>
                        <th>功能说明</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>采购订单</td>
                        <td>26</td>
                        <td>过账</td>
                        <td>ChuangyuanERP.dll</td>
                        <td>PostEDateChange</td>
                        <td>效期变更单</td>
                        <td><a>删除</a></td>
                    </tr>
                </tbody>
            </table>
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li><span>第1页 / 共1页 (共1条数据)</span></li>
                    <li>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</body>