@using Web.WMS.Common;
@using BILWeb.BaseInfo;
@{ 
    T_System tmodel = Commom.getSystem();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>WMS仓储管理系统</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- bootstrap 3.0.2 -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- font Awesome -->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons -->
    <link href="~/Content/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-table-develop/bootstrap-table.css" rel="stylesheet" />
    <!-- Morris chart -->
    <link href="~/Content/css/AdminLTE.css" rel="stylesheet" type="text/css" />
    <!-- loading css -->
    <link href="~/Content/js/layer/theme/default/layer.css" rel="stylesheet" />
    <style>
        .no-print {
            display: none;
        }
        #DtSelect {
            width: 100%;
        }

            #DtSelect tr {
                width: 100%;
            }

                #DtSelect tr td {
                    width: 25%;
                }

        a {
            cursor: pointer;
        }

        .list {
             width:80%;
        }
       
    </style>
    <script src="~/Content/js/jquery-2.1.1.min.js"></script>
	@Styles.Render("~/Content/DevExtremeBundle")
	@Scripts.Render("~/Scripts/DevExtremeBundle")
</head>
<body class="skin-blue">
    @RenderBody()
    <!-- jQuery 2.0.2 -->
    <script src="~/Content/js/jquery-2.1.1.min.js"></script>
    <!-- jQuery UI 1.10.3 -->
    <script src="~/Content/bootstrap-table-develop/bootstrap-table.min.js"></script>
    <script src="~/Content/js/jquery-ui-1.10.3.min.js" type="text/javascript"></script>
    <!-- Bootstrap -->
    <script src="~/Content/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- InputMask -->
    <script src="~/Content/js/plugins/input-mask/jquery.inputmask.js" type="text/javascript"></script>
    <script src="~/Content/js/plugins/input-mask/jquery.inputmask.date.extensions.js" type="text/javascript"></script>
    <script src="~/Content/js/plugins/input-mask/jquery.inputmask.extensions.js" type="text/javascript"></script>
    <script src="~/Content/js/bootstrap-treeview.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/js/AdminLTE/app.js" type="text/javascript"></script>
    @*日期*@
    @*<script src="~/Content/js/laydate/laydate.js"></script>*@
    <!-- loading js -->
    <script src="~/Content/js/layer/layer.js"></script>
    <script src="~/Content/js/layer/layer-extends.js"></script>
    <script type="text/javascript">
        $(function () {

            //Money Euro
            $("[data-mask]").inputmask();
            //Red color scheme for iCheck
            $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
                checkboxClass: 'icheckbox_minimal-red',
                radioClass: 'iradio_minimal-red'
            });


        });

        //laydate.render({
        //    elem: '.laydateY' //指定元素
        //});
        //laydate.render({
        //    elem: '.laydateX' //指定元素
        //});

    </script>
</body>
</html>

<!---->
