<!doctype html>
<html class="x-admin-sm">
<head>

    <link href="~/Content/X-admin/css/font.css" rel="stylesheet" />
    <link href="~/Content/X-admin/css/xadmin.css" rel="stylesheet" />
    <link href="~/Content/js/layer/theme/default/layer.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/js/jquery-2.1.1.min.js"></script>
    <script src="~/Content/X-admin/lib/layui/layui.js"></script>

    <script src="~/Content/X-admin/js/xadmin.js"></script>

    <script src="~/Content/js/bootstrap.min.js" type="text/javascript"></script>

    <!-- loading js -->
    <script src="~/Content/js/layer/layer.js"></script>
    <script src="~/Content/js/layer/layer-extends.js"></script>

    <script>
        $(document).ready(function () {
            $('select').addClass("form-control");
        });

        layui.use('laydate', function () {
            var laydate = layui.laydate;
            laydate.render({
                elem: '.laydateY' //指定元素
            });
            laydate.render({
                elem: '.laydateX' //指定元素
            });
        });



    </script>
    <style>
        .no-print {
            display: none;
        }
    </style>
</head>

<body class="index">
    @RenderBody()
</body>
</html>

