@using Web.WMS.Common;
@using BILBasic.Common;
@{
    var dividPage = (DividPage)ViewData["dividPage"];
    var link = (string)ViewData["url"];
}
<div class="box-footer clearfix">
    <ul class="pagination pagination-sm no-margin pull-right">
      @Html.ShowPageNavigate(dividPage.RecordCounts, dividPage.PagesCount, dividPage.CurrentPageNumber, link)
    </ul>
</div>