
@using BILWeb.PickRule
@{
    switch (ViewData["DataType"].ToString()) {
        case "1":
            ViewBag.Title = "上架规则";
            break;
        case "2":
            ViewBag.Title = "生单规则";
            break;
        case "3":
            ViewBag.Title = "拣货规则";
            break;
        case "4":
            ViewBag.Title = "分单规则";
            break;
        case "5":
            ViewBag.Title = "补货规则";
            break;
        case "6":
            ViewBag.Title = "批次规则";
            break;
    }

    List<T_PickRuleInfo> listModel = (List<T_PickRuleInfo>)ViewData["modelList"];

    Layout = "~/Views/Shared/_Layout.cshtml";
    }
<body class="skin-blue">
    @{Html.RenderPartial("~/Views/Shared/_ViewButtom.cshtml");}

    <div class="box">
        <label style="display:none" id="DataType">@ViewData["DataType"]</label>
        <form class="text-right" method="post">
            <div class="box-header">
                <div class="box-tools">
                    <div class="input-group" style="float: right">
                        <label>物料类别：<input type="text" /></label>
                        <label>规则名称：<input type="text" /></label>
                        <button type="submit" class="btn btn-primary">搜索</button>
                    </div>
                </div>
            </div>
        </form>


        @*上架规则*@
        <div class="box-body table-responsive SystemSetClass" style="display:none" id="upShelf">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>类别编号</th>
                        <th>物料类别</th>
                        <th>规则名称</th>
                        <th>状态</th>
                        <th>创建人</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>N0001</td>
                        <td>成品</td>
                        <td>相同物料临近</td>
                        <td>启用</td>
                        <td>王富贵</td>
                        <td>20190606</td>
                        <td><a>删除</a></td>
                    </tr>

                </tbody>
            </table>
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li><span>第1页 / 共1页 (共1条数据)</span></li>
                    <li>
                    </li>
                </ul>
            </div>
        </div>

        @*生单规则*@
        <div class="box-body table-responsive SystemSetClass" style="display:none" id="generateOrder">
            <table id="example1" class="table table-bordered table-striped">

                <thead>
                    <tr>
                        <th>类别编号</th>
                        <th>物料类别</th>
                        <th>规则名称</th>
                        <th>状态</th>
                        <th>创建人</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>G0001</td>
                        <td>成品</td>
                        <td>自动分配</td>
                        <td>启用</td>
                        <td>贺小亮</td>
                        <td>20190601</td>
                        <td><a>删除</a></td>
                    </tr>
                </tbody>
            </table>
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li><span>第1页 / 共1页 (共1条数据)</span></li>
                    <li>
                    </li>
                </ul>
            </div>
        </div>

        @*拣货规则*@
        <div class="box-body table-responsive SystemSetClass" style="display:none" id="separateOrder">
            <table id="example1" class="table table-bordered table-striped">

                <thead>
                    <tr>
                        <th>类别编号</th>
                        <th>物料类别</th>
                        <th>规则名称</th>
                        <th>状态</th>
                        <th>创建人</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>s001</td>
                        <td>成品</td>
                        <td>先进先出</td>
                        <td>启用</td>
                        <td>谭俊</td>
                        <td>20190601</td>
                        <td><a>删除</a></td>
                    </tr>



                </tbody>
            </table>
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li><span>第1页 / 共1页 (共1条数据)</span></li>
                    <li>
                    </li>
                </ul>
            </div>
        </div>

        @*分单规则*@
        <div class="box-body table-responsive SystemSetClass" style="display:none" id="separateOrder">
            <table id="example1" class="table table-bordered table-striped">

                <thead>
                    <tr>
                        <th>类别编号</th>
                        <th>物料类别</th>
                        <th>规则名称</th>
                        <th>状态</th>
                        <th>创建人</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>S0001</td>
                        <td>成品</td>
                        <td>整箱</td>
                        <td>启用</td>
                        <td>谭俊</td>
                        <td>20190403</td>
                        <td><a>删除</a></td>
                    </tr>
                </tbody>
            </table>
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li><span>第1页 / 共1页 (共1条数据)</span></li>
                    <li>
                    </li>
                </ul>
            </div>
        </div>

        @*补货规则*@
        <div class="box-body table-responsive SystemSetClass" style="display:none" id="supplement">
            <table id="example1" class="table table-bordered table-striped">

                <thead>
                    <tr>
                        <th>类别编号</th>
                        <th>物料类别</th>
                        <th>规则名称</th>
                        <th>状态</th>
                        <th>创建人</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>S0001</td>
                        <td>成品</td>
                        <td>库存上限</td>
                        <td>启用</td>
                        <td>谭俊</td>
                        <td>20190403</td>
                        <td><a>删除</a></td>
                    </tr>
                </tbody>
            </table>
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li><span>第1页 / 共1页 (共1条数据)</span></li>
                    <li>
                    </li>
                </ul>
            </div>
        </div>


        @*批次规则*@
        <div class="box-body table-responsive SystemSetClass" id="pick" style="display:none">
            <table id="example1" class="table table-bordered table-striped">

                <thead>
                    <tr>
                        <th>类别编号</th>
                        <th>物料类别</th>
                        <th>规则名称</th>
                        <th>状态</th>
                        <th>创建人</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>P0001</td>
                        <td>成品</td>
                        <td>先进先出</td>
                        <td>启用</td>
                        <td>谭俊</td>
                        <td>20190601</td>
                        <td><a>删除</a></td>
                    </tr>

                </tbody>
            </table>
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li><span>第1页 / 共1页 (共1条数据)</span></li>
                    <li>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal fade" id="compose-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop='static'>
        <div class="modal-dialog" style="width:50%;">
            <div class="modal-content">
                <form id="userfrom">
                    <div class="modal-body">
                        <div class="form-group">
                            <table class="table table-bordered table-striped ">
                                <tbody>
                                    <tr>
                                        <th class="textLeft">物料类别</th>
                                        <th><input type="text" class="form-control"  id="MenuNo" name="MenuNo"></th>
                                    </tr>
                                    <tr>
                                        <th class="textLeft">规则类型</th>
                                        <th><input type="text" class="form-control" id="MenuName" name="MenuName"></th>
                                    </tr>
                                    <tr>
                                        <th class="textLeft">规则状态</th>
                                        <th><input type="text" class="form-control" name="MenuAbbName" id="MenuAbbName"></th>
                                    </tr>
                                    <tr>
                                        <th class="textLeft">规则描述</th>
                                        <th> <textarea class="form-control" rows="3" id="Description" name="Description"></textarea></th>
                                    </tr>
                                </tbody>
                                <tbody id="detailTable"></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer clearfix">
                        <label style="display:none" id="hiddeId"></label>
                        <label style="display:none" id="parentId"></label>
                        <label style="display:none" id="parentLevel"></label>
                        <button type="button" class="btn bg-olive" onclick="form_Submit()">保存</button>
                        <button type="button" class="btn btn-google-plus" data-dismiss="modal"><i class="fa fa-times"></i> 关闭</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div>
    </div>
</body>

<script type="text/javascript">
    $(function () {
        //1:上架，2：生单，3拣货，4分单，5补货，6批次
        var type = @ViewData["DataType"];
        var systemList = $(".SystemSetClass")
        for (var i = 1; i <= systemList.length; i++) {
            if (type == i) {
                systemList[i - 1].style.display = "block";
            } else {
                systemList[i - 1].style.display = "none";
            }
        }
        $(".bianji").click(function () {

            $('#compose-modal').modal({ keyboard: false }, 'show');
            //$('#compose-modal').modal('hide');
        })
    });


    function deleteItem(id) {



    }




</script>

