<?xml version="1.0" encoding="utf-8"?>
<SysBut>
  <Controller Text="InStock" IsHave="true" IsChecked="true">
    <Button Text="刷新" IsHave="true" IsChecked="true"/>
    <Button Text="同步" IsHave="true" IsChecked="true"/>
    <Button Text="新增" IsHave="false" IsChecked="false"/>
    <Button Text="关闭" IsHave="false" IsChecked="false"/>
    <Button Text="编辑" IsHave="true" IsChecked="true"/>
  </Controller>
  <Controller Text="OutStock" IsHave="true" IsChecked="true">
    <Button Text="全选" IsHave="true" IsChecked="true"/>
    <Button Text="刷新" IsHave="true" IsChecked="true"/>
    <Button Text="同步" IsHave="true" IsChecked="true"/>
    <Button Text="新增" IsHave="false" IsChecked="false"/>
    <Button Text="生单" IsHave="true" IsChecked="true"/>
    <Button Text="关闭" IsHave="true" IsChecked="true"/>
    <Button Text="编辑" IsHave="true" IsChecked="true"/>
    <Button Text="打印" IsHave="true" IsChecked="true"/>
    <Button Text="生箱" IsHave="true" IsChecked="true"/>
  </Controller>
  <Controller Text="OutStockQuery" IsHave="true" IsChecked="true">
    <Button Text="刷新" IsHave="true" IsChecked="true"/>
    <Button Text="同步" IsHave="true" IsChecked="true"/>
    <Button Text="导出" IsHave="true" IsChecked="true"/>
    <Button Text="关闭" IsHave="true" IsChecked="true"/>
  </Controller>
  <Controller Text="House" IsHave="true" IsChecked="true">
    <Button Text="新增" IsHave="true" IsChecked="true"/>
    <Button Text="导出" IsHave="true" IsChecked="false"/>
    <Button Text="删除" IsHave="true" IsChecked="false"/>
  </Controller>
  <Controller Text="Area" IsHave="true" IsChecked="true">
    <Button Text="新增" IsHave="true" IsChecked="true"/>
    <Button Text="导出" IsHave="true" IsChecked="false"/>
    <Button Text="删除" IsHave="true" IsChecked="false"/>
  </Controller>
  <Controller Text="Warehouse" IsHave="true" IsChecked="true">
    <Button Text="新增" IsHave="true" IsChecked="true"/>
    <Button Text="导出" IsHave="true" IsChecked="false"/>
    <Button Text="删除" IsHave="true" IsChecked="false"/>
  </Controller>
  <Controller Text="UserGroup" IsHave="true" IsChecked="true">
    <Button Text="新增" IsHave="true" IsChecked="true"/>
  </Controller>
  <Controller Text="UserInfo" IsHave="true" IsChecked="true">
    <Button Text="新增" IsHave="true" IsChecked="true"/>
    <Button Text="导出" IsHave="false" IsChecked="false"/>
    <Button Text="删除" IsHave="true" IsChecked="false"/>
  </Controller>
  <Controller Text="Role" IsHave="true" IsChecked="true">
    <Button Text="新增" IsHave="false" IsChecked="false"/>
    <Button Text="导出" IsHave="false" IsChecked="false"/>
    <Button Text="删除" IsHave="false" IsChecked="false"/>
  </Controller>
  <Controller Text="Material" IsHave="true" IsChecked="true">
    <Button Text="同步" IsHave="true" IsChecked="true"/>
    <Button Text="新增" IsHave="true" IsChecked="false"/>
    <Button Text="导出" IsHave="false" IsChecked="false"/>
    <Button Text="删除" IsHave="false" IsChecked="false"/>
  </Controller>
  <Controller Text="DepInterface" IsHave="true" IsChecked="true">
    <Button Text="新增" IsHave="true" IsChecked="true"/>
    <Button Text="导出" IsHave="true" IsChecked="true"/>
    <Button Text="删除" IsHave="true" IsChecked="true"/>
  </Controller>
  <Controller Text="SystemSet" IsHave="true" IsChecked="true">
    <Button Text="新增" IsHave="true" IsChecked="true"/>
    <Button Text="编辑" IsHave="false" IsChecked="false"/>
    <Button Text="删除" IsHave="true" IsChecked="false"/>
  </Controller>

  <Controller Text="TaskTrans" IsHave="true" IsChecked="true">
    <Button Text="导出" IsHave="true" IsChecked="true"/>
  </Controller>

  <Controller Text="StockCombine" IsHave="true" IsChecked="true">
    <Button Text="新增" IsHave="false" IsChecked="false"/>
    <Button Text="导出" IsHave="true" IsChecked="true"/>
  </Controller>
  <Controller Text="StockCombine" IsHave="true" IsChecked="true">
    <Button Text="导出" IsHave="true" IsChecked="true"/>
  </Controller>
  <Controller Text="StockDetail" IsHave="true" IsChecked="true">
    <Button Text="打印" IsHave="false" IsChecked="false"/>
    <Button Text="导出" IsHave="true" IsChecked="true"/>
  </Controller>

  <Controller Text="InStockTask" IsHave="true" IsChecked="true">
    <Button Text="刷新" IsHave="true" IsChecked="true"/>
    <Button Text="导出" IsHave="true" IsChecked="true"/>
    <Button Text="关闭" IsHave="true" IsChecked="true"/>
  </Controller>
  <Controller Text="OutStockTask" IsHave="true" IsChecked="true">
    <Button Text="刷新" IsHave="true" IsChecked="true"/>
    <Button Text="导出" IsHave="true" IsChecked="true"/>
    <Button Text="同步" IsHave="true" IsChecked="true"/>
    <Button Text="关闭" IsHave="true" IsChecked="true"/>
  </Controller>
  
  <Controller Text="OutStockCreate" IsHave="true" IsChecked="true">
    <Button Text="刷新" IsHave="true" IsChecked="true"/>
    <Button Text="生单" IsHave="true" IsChecked="true"/>
  </Controller>
    
  <Controller Text="PrintIn" IsHave="true" IsChecked="true">
    <Button Text="全选" IsHave="true" IsChecked="true"/>
    <Button Text="刷新" IsHave="true" IsChecked="true"/>
    <Button Text="打印" IsHave="true" IsChecked="true"/>
  </Controller>

  <Controller Text="Box" IsHave="true" IsChecked="true">
    <Button Text="全选" IsHave="true" IsChecked="true"/>
    <Button Text="单箱打印" IsHave="true" IsChecked="true"/>
    <Button Text="整批打印" IsHave="true" IsChecked="true"/>
  </Controller>
</SysBut>
