@using Web.WMS.Common;
@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var errorMsg = ViewData["errorMsg"];
    var UserName = Commom.ReadUserInfo().UserName;
}

<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <script type="text/javascript">
        function check() {
            var oldPassword = document.getElementById("OldPassword").value;
            if (oldPassword.trim() == "" || oldPassword.trim() == null) {
                alert("请输入原始密码！！");
                return;
            }
            var newPassword = document.getElementById("NewPassword").value;
            if (newPassword.trim() == "" || newPassword.trim() == null) {
                alert("请输入新密码！！");
                return;
            }
            var confirmPassword = document.getElementById("ConfirmPassword").value;
            if (confirmPassword.trim() == null || confirmPassword.trim() == "") {
                alert("请输入确认密码！！");
                return;
            }
            if (oldPassword.trim() != "" && oldPassword.trim() != null && newPassword.trim() != null && newPassword.trim() != "" && confirmPassword.trim() != null && confirmPassword.trim() != "") {
                document.getElementById("modify").submit();
            }
        }
        window.onload = function () {
            var msg = $("#msg").val();
            if (msg != "") {
                alert(msg);
            }

        }

/**/</script>
</head>
<body>
    <div class="box box-primary">
        <!-- form start -->
        <form action="/UserInfo/Modify" method="post" id="modify">
            <div class="box-body">
                <div>
                    <input id="msg" type="hidden" value="@errorMsg" />
                </div>
                <div class="form-group">
                    <label for="exampleInputOldPassword">原始密码：</label>
                    <input type="password" class="form-control" id="OldPassword" placeholder="请输入原始密码" name="oldPassword">
                </div>
                <div class="form-group">
                    <label for="exampleInputNewPassword">新密码：</label>
                    <input type="password" class="form-control" id="NewPassword" placeholder="请输入新密码" name="newPassword">
                </div>
                <div class="form-group">
                    <label for="exampleInputConfirmPassword">确认密码：</label>
                    <input type="password" class="form-control" id="ConfirmPassword" placeholder="请输入确认密码" name="confirmPassword">
                </div>
                <div class="box-footer">
                    <button type="button" class="btn btn-primary" onclick="check()">确认</button>
                </div>
            </div>
        </form>
    </div>
</body>
